altair==6.0.0
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
bleach==6.3.0
blinker==1.9.0
cachetools==7.0.5
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
comtypes==1.4.16
contourpy==1.3.3
cycler==0.12.1
distlib==0.4.0
distro==1.9.0
docopt==0.6.2
emoji==2.15.0
et_xmlfile==2.0.0
filelock==3.25.2
Flask==3.1.3
fonttools==4.62.1
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kaggle==2.0.0
kagglesdk==0.1.16
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.8
MouseInfo==0.1.3
narwhals==2.19.0
nltk==3.9.4
numpy==2.4.3
openai==2.30.0
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
pillow==12.2.0
pipreqs==0.4.13
platformdirs==4.9.4
protobuf==7.34.1
pyarrow==23.0.1
PyAutoGUI==0.9.54
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.2
PyGetWindow==0.0.9
pyjokes==0.8.3
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-discovery==1.2.1
python-slugify==8.0.4
pyttsx==1.1
pyttsx3==2.99
pytweening==1.2.0
pywin32==311
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
streamlit==1.56.0
tenacity==9.1.4
text-unidecode==1.3
textblob==0.20.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritools==6.0.1
urlextract==1.9.0
urllib3==2.6.3
virtualenv==21.2.0
watchdog==6.0.0
webencodings==0.5.1
Werkzeug==3.1.6
wordcloud==1.9.6
yarg==0.1.10
