streamlit
pandas
numpy
matplotlib
seaborn
wordcloud
emoji
urlextract
scikit-learn==1.6.1
pillow
regex
streamlit
pandas
numpy
matplotlib
seaborn
wordcloud
pillow
scikit-learn
nltk
textblob
transformers
torch
spacy
emoji
regex
joblib
python-dateutil
tqdm
